<% if current_user.passive_notifications.exists? %>
	<table class="table table-striped">
		<tr>
			<th>通知一覧</th>
			<th>time</th>
		</tr>
		<% current_user.passive_notifications.each do |notification| %>
			<tr>
				<td>
					<%= link_to user_path(notification.sender) do %>
						<%= notification.sender.name %>
					<% end %>
					<% case notification.status %>
						<% when 'follow' then %>
							さんがあなたをフォローしました
						<% when 'favorite' then %>
							さんが<%=link_to 'あなたの投稿', notification.post %>にいいねしました。
						<% when 'commment' then %>
							<% if notification.post.user_id == recipient.id %>
								さんが<%=link_to 'あなたの投稿', notification.post %>にコメントしました。
							<% end %>
					<% end %>
				</td>
				<td>
					<%= time_ago_in_words(notification.created_at).upcase %>前
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<P>>通知はありません<</P>
<% end %>