<table class="table table-striped">
	<% @followers.each do |follower| %>
		<tr>
			<td>
				<div class="user-img">
					<%= link_to user_path(follower.id) do %>
						<%= image_tag follower.profile_image.url, :size => '50x50' %>
					<% end %>
				</div>
				<div class="post-user-name">
					<%= link_to user_path(follower.id) do %>
						<%= follower.name %>
					<% end %>
				</div>
			</td>
			<td>
				<div class="user-follow">
					<% if current_user != follower %>
						<div class="follow-form<%= follower.id %>">
							<% if current_user.following?(follower) %>
							    <%= render 'relationships/unfollow', user: follower %>
							<% else %>
							    <%= render 'relationships/follow', user: follower %>
							<% end %>
						</div>
					<% end %>
				</div>
			</td>
		</tr>
	<% end %>
</table>