<div class="container">
	<div class="row">
		<div class="col-4 offset-6">
			<%= form_tag(post_search_path,method: :get, role:"search") do %>
		      <%= text_field_tag "keyword", "" %>
		    <% end %>
		</div>
		<div class="col-2">
			<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<%= link_to user_path(current_user) do %>
					<li>ホーム</li>
			<% end %>
			<%= link_to notifications_path do %>
				<i class="far fa-bell">通知</i>
			<% end %>
			<li><%= link_to edit_user_path(current_user) do %>
					プロフィール
				<% end %>
			</li>
			<li>投稿</li>
		</div>
		<div class="col-6">
			<% if @user = current_user %>
				<div class="row">
					<div class="col-12">
						<%= @user.name %>
					</div>
					<div class="col-12">
						<div class="new">
							<%= form_for(@post) do |f| %>
								<%= f.text_area :body %>
								<%= f.file_field :post_image %>
								<%= f.file_field :post_video %>
								<%= f.submit '投稿する' %>
							<% end %>
						</div>
					</div>
					<ul class="nav nav-tabs">
						<li class="nav-item">
		    				<a href="#post1" class="nav-link active" data-toggle="tab">投稿</a>
		 				</li>
		 				<li class="nav-item">
		    				<a href="#post2" class="nav-link" data-toggle="tab">自分の投稿</a>
		 				 </li>
		 				<li class="nav-item">
		    				<a href="#fol1" class="nav-link" data-toggle="tab">フォロー中</a>
		    			</li>
		    			 <li class="nav-item">
		    				<a href="#fol2" class="nav-link" data-toggle="tab">フォロワー</a>
		    			</li>
		 				<div class="tab-content">
  							<div id="post1" class="tab-pane active">
  								<div class="post-border">
  									<div class="row">
  										<div class="col-12">
											ああああ
  										</div>
  									</div>
  								</div>
							</div>
							<div id="post2" class="tab-pane">
								<% current_user.posts.each do |post| %>
									<div class="post-border">
										<div class="row">
											<div class="col-2">
												<%= image_tag current_user.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= post.user.name %>
												</div>
											</div>
											<div class="col-4"></div>
											<div class="col-10 offset-2">
												<div class="post-body">
													<%= post.body %>
												</div>
											</div>
											<div class="col-9 offset-1">
												<% if post.post_image.present? %>
													<%= image_tag post.post_image.url, :size=> '400x300' %>
												<% end %>
												<% if post.post_video.file.present? %>
													<%= video_tag post.post_video_url.to_s,autoplay: true, loop: true, controls: true, width: 300 %>
												<% end %>
											</div>
											<div class="col-2"></div>
										</div>
									</div>
								<% end %>
							</div>
							<div id="fol1" class="tab-pane">
								<% @followers.each do |follower| %>
									<div class="post-border">
										<div class="row">
	  										<div class="col-2">
												<%= image_tag follower.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= follower.name %>
												</div>
											</div>
											<div class="col-4">
												<% if current_user != follower %>
													<div id="follow_form">
														<% if current_user.following?(follower) %>
														    <%= render 'relationships/unfollow', user: follower %>
														<% else %>
														    <%= render 'relationships/follow', user: follower %>
														<% end %>
													</div>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
							<div id="fol2" class="tab-pane">
								<% @followings.each do |following| %>
									<div class="post-border">
										<div class="row">
	  										<div class="col-2">
												<%= image_tag following.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= following.name %>
												</div>
											</div>
											<div class="col-4">
												<% if current_user != following %>
													<div id="follow_form">
														<% if current_user.following?(following) %>
														    <%= render 'relationships/unfollow', user: following %>
														<% else %>
														    <%= render 'relationships/follow', user: following %>
														<% end %>
													</div>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</ul>
				</div>
			<% else %>
				<div class="row">
					<div class="col-12">
						<%= @user.name %>
					</div>
					<ul class="nav nav-tabs">
						<div class="col-12">
							<li class="nav-item">
			    				<a href="#other_post1" class="nav-link active" data-toggle="tab">投稿</a>
			    			</li>
			    			<li class="nav-item">
			    				<a href="#other_fol1" class="nav-link" data-toggle="tab">フォロー中</a>
			    			</li>
			    			 <li class="nav-item">
			    				<a href="#other_fol2" class="nav-link" data-toggle="tab">フォロワー</a>
			    			</li>
			    		</div>
			    		<div id="other_post1" class="tab-pane active">
							<%= @user.post.each do |post| %>
								<div class="post-border">
									<div class="row">
										<div class="col-2">
											<%= image_tag post.user.profile_image.url, :size => '50x50' %>
										</div>
										<div class="col-6">
											<div class="post-user-name">
												<%= post.user.name %>
											</div>
										</div>
										<div class="col-4"></div>
										<div class="col-10 offset-2">
											<div class="post-body">
												<%= post.body %>
											</div>
										</div>
										<div class="col-9 offset-1">
											<% if post.post_image.present? %>
												<%= image_tag post.post_image.url, :size=> '400x300' %>
											<% end %>
											<% if post.post_video.file.present? %>
												<%= post.post_video %>
											<% end %>
										</div>
										<div class="col-2"></div>
									</div>
								</div>
							<% end %>
						</div>
						<div id="other_fol1" class="tab-pane">
							<%= @followers.each do |follower| %>
								<div class="post-border">
									<div class="row">
  										<div class="col-2">
											<%= image_tag follower.profile_image.url, :size => '50x50' %>
										</div>
										<div class="col-6">
											<div class="post-user-name">
												<%= follower.name %>
											</div>
										</div>
										<div class="col-4">
											<% if current_user != follower %>
												<div id="follow_form">
													<% if current_user.following?(follower) %>
													    <%= render 'relationships/unfollow', user: follower %>
													<% else %>
													    <%= render 'relationships/follow', user: follower %>
													<% end %>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
						</div>
						<div id="other_fol2" class="tab-pane">
							<%= @followings.each do |following| %>
								<div class="post-border">
									<div class="row">
  										<div class="col-2">
											<%= image_tag following.profile_image.url, :size => '50x50' %>
										</div>
										<div class="col-6">
											<div class="post-user-name">
												<%= following.name %>
											</div>
										</div>
										<div class="col-4">
											<% if current_user != following %>
												<div id="follow_form">
													<% if current_user.following?(following) %>
													    <%= render 'relationships/unfollow', user: following %>
													<% else %>
													    <%= render 'relationships/follow', user: following %>
													<% end %>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</ul>
				</div>
			<% end %>
		</div>
		<div class="col-3">
			<div class="row">
				<div class="col-8 offset-4">
					<p>HOT ユーザー</p>
				</div>
				<div class="col-7 offset-5">
					<p>
						<% @all_ranks.each do |user| %>
							<%= @user.name %>
						<% end %>
					</p>
				<div>
				<div class="col-8 offset-4">
					<p>おすすめユーザー</p>
				</div>
				<div class="col-7 offset-5">
					<p>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
