<div class="container">
	<div class="row">
		<div class="col-4 offset-6">
		</div>
		<div class="col-2">
			<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<div style="margin-bottom: 20px;">
				<%= form_tag(post_search_path,method: :get, role:"search") do %>
			      <%= text_field_tag "keyword", "", {class:"form-control", placeholder:"キーワードを入力"}  %>
			    <% end %>
			</div>
			<%= render "shares/lside" %>
			<div class="new">
				<%= form_for(@newpost) do |f| %>
					<%= f.text_area :body, size: "30x5", class: "form-control" %>
					<%= f.file_field :post_image %>
					<%= f.file_field :post_video %>
					<input class="submit_button" type="submit" name="submit" value="投稿する">
				<% end %>
			</div>
		</div>
		<div class="col-6">
			<% if @user == current_user %>
				<div class="row">
					<div class="col-12">
						<%= image_tag @user.profile_image.url, :size=> '100x100' %>
						<%= @user.name %>
					</div>
					<ul class="nav nav-tabs">
						<li class="nav-item">
		    				<a href="#post1" class="nav-link active" data-toggle="tab">投稿</a>
		 				</li>
		 				<li class="nav-item">
		    				<a href="#post2" class="nav-link" data-toggle="tab">自分の投稿</a>
		 				 </li>
		 				<li class="nav-item">
		    				<a href="#fol1" class="nav-link" data-toggle="tab">フォロー中</a>
		    			</li>
		    			 <li class="nav-item">
		    				<a href="#fol2" class="nav-link" data-toggle="tab">フォロワー</a>
		    			</li>
		 				<div class="tab-content">
  							<div id="post1" class="tab-pane active">
  								<% @followers.each do |follower| %>
									<% follower.posts.each do |post| %>
		  								<div class="post-border">
		  									<div class="row">
		  										<div class="col-2">
													<%= image_tag follower.profile_image.url, :size => '50x50' %>
												</div>
												<div class="col-6">
													<div class="post-user-name">
														<%= link_to user_path(follower.id) do %>
															<%= post.user.name %>
														<% end %>
													</div>
												</div>
												<div class="col-4">
													<% if current_user != follower %>
														<div class="follow-form<%= follower.id %>">
															<% if current_user.following?(follower) %>
															    <%= render 'relationships/unfollow', user: follower %>
															<% else %>
															    <%= render 'relationships/follow', user: follower %>
															<% end %>
														</div>
												<% end %>
												</div>
												<div class="col-10 offset-2">
													<div class="post-body">
														<%= link_to post_path(post.id), :style=>"color: black" do %>
															<%= post.body %>
														<% end %>
													</div>
												</div>
												<div class="col-11 offset-1">
													<% if post.post_image.present? %>
														<%= image_tag post.post_image.url, :size=> '400x300' %>
													<% end %>
													<% if post.post_video.file.present? %>
														<%= video_tag post.post_video_url.to_s,autoplay: true, loop: true, controls: true, width: 300 %>
													<% end %>
												</div>
												<div class="col-2 offset-2">
													<% if user_signed_in? %>
														<div class="favorite_btn_<%= post.id %>">
								 							<%= render 'favorites/like', post: post, favorite: @favorite %>
														</div>
													<% end %>
												</div>
		  									</div>
		  								</div>
		  							<% end %>
								<% end %>
							</div>
							<div id="post2" class="tab-pane">
								<% current_user.posts.each do |post| %>
									<div class="post-border">
										<div class="row">
											<div class="col-2">
												<%= image_tag current_user.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= post.user.name %>
												</div>
											</div>
											<div class="col-4"></div>
											<div class="col-10 offset-2">
												<div class="post-body">
													<%= link_to post_path(post.id), :style=>"color: black" do %>
														<%= post.body %>
													<% end %>
												</div>
											</div>
											<div class="col-11 offset-1">
												<% if post.post_image.present? %>
													<%= image_tag post.post_image.url, :size=> '400x300' %>
												<% end %>
												<% if post.post_video.file.present? %>
													<%= video_tag post.post_video_url.to_s,autoplay: true, loop: true, controls: true, width: 300 %>
												<% end %>
											</div>
											<div class="col-2 offset-2">
												<i class="fas fa-heart" style="color: #FF6928;"></i>
													<% if post.favorites.present? %>
														<%= post.favorites.count %>
													<% end %>
											</div>
											<div class="col- 2 offset-1">
												<i class="far fa-comment"></i>
												<% if post.comments.present? %>
													<%= post.comments.count %>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
							<div id="fol1" class="tab-pane">
								<% @followers.each do |follower| %>
									<div class="post-border">
										<div class="row">
	  										<div class="col-2">
												<%= image_tag follower.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= link_to user_path(follower.id) do %>
														<%= follower.name %>
													<% end %>
												</div>
											</div>
											<div class="col-4">
												<% if current_user != follower %>
													<div class="follow-form<%= follower.id %>">
														<% if current_user.following?(follower) %>
														    <%= render 'relationships/unfollow', user: follower %>
														<% else %>
														    <%= render 'relationships/follow', user: follower %>
														<% end %>
													</div>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
							<div id="fol2" class="tab-pane">
								<% @followings.each do |following| %>
									<div class="post-border">
										<div class="row">
	  										<div class="col-2">
												<%= image_tag following.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= link_to user_path(following.id) do %>
														<%= following.name %>
													<% end %>
												</div>
											</div>
											<div class="col-4">
												<% if current_user != following %>
													<div class="follow-form<%= following.id %>">
														<% if current_user.following?(following) %>
														    <%= render 'relationships/unfollow', user: following %>
														<% else %>
														    <%= render 'relationships/follow', user: following %>
														<% end %>
													</div>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</ul>
				</div>
			<% else %>
				<div class="row">
					<div class="col-3">
						<%= image_tag @user.profile_image.url, :size=> '100x100' %>
					</div>
					<div class="col-3" style="padding-top: 2.5em;">
						<%= @user.name %>
					</div>
					<div class="col-4 offset-2" style="padding-top: 2em;">
						<% if current_user != @user %>
							<div class="follow-form<%= @user.id %>">
								<% if current_user.following?(@user) %>
								    <%= render 'relationships/unfollow', user: @user %>
								<% else %>
								    <%= render 'relationships/follow', user: @user %>
								<% end %>
							</div>
						<% end %>
					</div>
					<ul class="nav nav-tabs">
						<li class="nav-item">
		    				<a href="#other1" class="nav-link active" data-toggle="tab">投稿</a>
		    			</li>
		    			<li class="nav-item">
		    				<a href="#other2" class="nav-link" data-toggle="tab">フォロー中</a>
		    			</li>
		    			 <li class="nav-item">
		    				<a href="#other3" class="nav-link" data-toggle="tab">フォロワー</a>
		    			</li>
		    			<div class="tab-content">
				    		<div id="other1" class="tab-pane active">
								<% @user.posts.each do |post| %>
									<div class="post-border">
										<div class="row">
											<div class="col-2">
												<%= image_tag post.user.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= post.user.name %>
												</div>
											</div>
											<div class="col-4"></div>
											<div class="col-10 offset-2">
												<div class="post-body">
													<%= post.body %>
												</div>
											</div>
											<div class="col-9 offset-1">
												<% if post.post_image.present? %>
													<%= image_tag post.post_image.url, :size=> '400x300' %>
												<% end %>
												<% if post.post_video.file.present? %>
													<%= video_tag post.post_video_url.to_s,autoplay: true, loop: true, controls: true, width: 300 %>
												<% end %>
											</div>
											<div class="col-2"></div>
										</div>
									</div>
								<% end %>
							</div>
							<div id="other2" class="tab-pane">
								<% @followers.each do |follower| %>
									<div class="post-border">
										<div class="row">
	  										<div class="col-2">
												<%= image_tag follower.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= follower.name %>
												</div>
											</div>
											<div class="col-4">
												<% if current_user != follower %>
													<div class="follow-form<%= follower.id %>">
														<% if current_user.following?(follower) %>
														    <%= render 'relationships/unfollow', user: follower %>
														<% else %>
														    <%= render 'relationships/follow', user: follower %>
														<% end %>
													</div>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
							<div id="other3" class="tab-pane">
								<% @followings.each do |following| %>
									<div class="post-border">
										<div class="row">
	  										<div class="col-2">
												<%= image_tag following.profile_image.url, :size => '50x50' %>
											</div>
											<div class="col-6">
												<div class="post-user-name">
													<%= following.name %>
												</div>
											</div>
											<div class="col-4">
												<% if current_user != following %>
													<div class="follow-form<%= following.id %>">
														<% if current_user.following?(following) %>
														    <%= render 'relationships/unfollow', user: following %>
														<% else %>
														    <%= render 'relationships/follow', user: following %>
														<% end %>
													</div>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</ul>
				</div>
			<% end %>
		</div>
		<div class="col-3">
			<%= render "shares/rside", user_ranking: @user_ranking, follow_follows: @follow_follows %>
		</div>
	</div>
</div>
