<header>
	<%= render "shares/header" %>
</header>
<div class="container">
	<div class="row">
		<div class="col-8">
			<% if @user == current_user %>
				<div class="user-img">
					<%= image_tag @user.profile_image.url, :size=> '100x100' %>
				</div>
				<div class="search-keyword">
					<%= @user.name %>
				</div>
				<ul class="nav nav-pills" style="margin-top: 20px;">
					<li class="nav-item">
	    				<a href="#post1" class="nav-link active" data-toggle="tab">投稿</a>
	 				</li>
	 				<li class="nav-item">
	    				<a href="#post2" class="nav-link" data-toggle="tab">自分の投稿</a>
	 				 </li>
	 				<li class="nav-item">
	    				<a href="#fol1" class="nav-link" data-toggle="tab">フォロー中</a>
	    			</li>
	    			 <li class="nav-item">
	    				<a href="#fol2" class="nav-link" data-toggle="tab">フォロワー</a>
	    			</li>
	 				<div class="tab-content">
						<div id="post1" class="tab-pane active">
							<div class="show_post_contents">
								<% @follow_posts.each do |post| %>
									<%= render "posts/post-index", post: post %>
								<% end %>
							</div>
							<div class="pagenation">
								<%= link_to_next_page @follow_posts, '次のページ' %>
							</div>
						</div>
						<div id="post2" class="tab-pane">
							<% @user.posts.order(created_at: :desc).each do |post| %>
								<%= render "posts/post-index", post: post %>
							<% end %>
						</div>
						<div id="fol1" class="tab-pane">
							<%= render "users/followinguser", followers: @followers %>
						</div>
						<div id="fol2" class="tab-pane">
							<%= render "users/userfollower", following: @followings %>
						</div>
					</div>
				</ul>
			<% else %>
				<div class="user-title">
					<div class="user-img">
						<%= image_tag @user.profile_image.url, :size=> '100x100' %>
						<%= @user.name %>
					</div>
					<div class="right">
						<% if current_user != @user %>
							<div class="follow-form<%= @user.id %>">
								<% if current_user.following?(@user) %>
								    <%= render 'relationships/unfollow', user: @user %>
								<% else %>
								    <%= render 'relationships/follow', user: @user %>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
				<ul class="nav nav-pills" style="margin-top: 30px;">
					<li class="nav-item">
	    				<a href="#other1" class="nav-link active" data-toggle="tab">投稿</a>
	    			</li>
	    			<li class="nav-item">
	    				<a href="#other2" class="nav-link" data-toggle="tab">フォロー中</a>
	    			</li>
	    			 <li class="nav-item">
	    				<a href="#other3" class="nav-link" data-toggle="tab">フォロワー</a>
	    			</li>
	    			<div class="tab-content">
			    		<div id="other1" class="tab-pane active">
							<% @user.posts.each do |post| %>
								<%= render "posts/post-index", post: post %>
							<% end %>
						</div>
						<div id="other2" class="tab-pane">
							<%= render "users/followinguser", followers: @followers %>
						</div>
						<div id="other3" class="tab-pane">
							<%= render "users/userfollower", following: @followings %>
						</div>
					</div>
				</ul>
			<% end %>
		</div>
		<div class="col-4">
			<%= render "shares/rside", user_ranking: @user_rankings, follow_follows: @follow_follows %>
		</div>
	</div>
</div>

<script src="js/infinite_scroll.js"></script>