<header>
	<%= render "shares/header" %>
</header>
<div class="container">
	<div class="row">
		<div class="col-8">
			<ul class="nav nav-pills">
				<li class="nav-item">
    				<a href="#post1" class="nav-link active" data-toggle="tab">最新の投稿</a>
 				 </li>
 				 <li class="nav-item">
    				<a href="#post2" class="nav-link" data-toggle="tab">話題の投稿</a>
 				 </li>
 				 <div class="tab-content">
  					<div id="post1" class="tab-pane active">
						<% @posts.each do |post| %>
							<%= render "posts/post-index", post: post %>
						<% end %>
					</div>
					<div id="post2" class="tab-pane">
						<% @post_rankings.each do |post| %>
		   					<%= render "posts/post-index", post: post %>
						<% end %>
				   	</div>
				 </div>
			</ul>
		</div>
		<div class="col-4">
			<div class="row">
				<div class="col-9 offset-3">
					<div class="rside-title">HOT ユーザー</div>
				</div>
				<% @user_rankings.each do |user| %>
					<div class="col-5 offset-1">
						<%= link_to user_path(user.id) do %>
							<%= image_tag user.profile_image.url, :size => '50x50' %>
						<% end %>
					</div>
					<div class="col-6">
						<% if user_signed_in? %>
							<% if current_user != user %>
								<div class="follow-form<%= user.id %>">
									<% if current_user.following?(user) %>
									    <%= render 'relationships/unfollow', user: user %>
									<% else %>
									    <%= render 'relationships/follow', user: user %>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="col-4 offset-1">
						<%= link_to user_path(user.id), :style=>"color:black;" do %>
							<%= user.name %>
						<% end %>
					</div>
					<div class="col-6 offset-1" style="margin-bottom: 15px;">
						<%= user.followings.count %> フォロワー
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
