<header>
	<%= render "shares/header" %>
</header>
<div class="container">
	<div class="row">
		<div class="col-8">
			<div class="row">
				<div class="col-12">
					<div class="search-keyword">
						"<%= params[:keyword] %>"の検索結果
					</div>
				</div>
				<div class="col-12">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="#post1" class="nav-link active" data-toggle="tab">投稿</a>
							 </li>
							 <li class="nav-item">
							<a href="#post2" class="nav-link" data-toggle="tab">ユーザー名</a>
						</li>
						<div class="tab-content">
							<div id="post1" class="tab-pane active">
								<% @posts.each do |post| %>
									<%= render "posts/post-index", post: post %>
								<% end %>
							</div>
							<div id="post2" class="tab-pane">
								<table class="table table-striped">
									<% @users.each do |user| %>
										<tr>
											<td>
												<div class="user-img">
													<%= link_to user_path(user.id) do %>
														<%= image_tag user.profile_image.url, :size => '50x50' %>
													<% end %>
												</div>
												<div class="post-user-name">
													<%= link_to user_path(user.id) do %>
														<%= user.name %>
													<% end %>
												</div>
											</td>
											<td>
												<div class="user-follow">
													<% if current_user != user %>
														<div class="follow-form<%= user.id %>">
															<% if current_user.following?(user) %>
															    <%= render 'relationships/unfollow', user: user %>
															<% else %>
															    <%= render 'relationships/follow', user: user %>
															<% end %>
														</div>
													<% end %>
												</div>
											</td>
										</tr>
									<% end %>
								</table>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-4">
			<%= render "shares/rside", user_ranking: @user_ranking, follow_follows: @follow_follows %>
		</div>
	</div>
</div>
