<div class="container">
	<div class="row">
		<div class="col-3">
			<%= render "shares/lside" %>
		</div>
		<div class="col-6">
			<div class="row">
				<% if user_signed_in? %>
					<%= form_for [@post, @comment] do |f| %>
						<div class="col-12">
							<%= f.text_area :body, size: "60x5", class: "form-control" %>
						</div>
						<div class="col-3 offset-9">
							<%= f.submit 'コメントする' %>
						</div>
					<% end %>
				<% end %>
				<div class="col-3">
					<%= image_tag @user.profile_image.url, :size => '50x50' %>
				</div>
				<div class="col-5">
					<div class="post-user-name">
						<%= link_to user_path(@user.id) do %>
							<%= @user.name %>
						<% end %>
					</div>
				</div>
				<div class="col-4">
					<% if current_user != @user.id %>
						<div class="follow-form<%= @user.id %>">
							<% if current_user.following?(@user) %>
							    <%= render 'relationships/unfollow', user: @user %>
							<% else %>
							    <%= render 'relationships/follow', user: @user %>
							<% end %>
						</div>
					<% end %>
				</div>
				<div class="col-10 offset-2">
					<div class="post-body">
						<%= @post.body %>
					</div>
				</div>
				<div class="col-9 offset-1">
					<% if @post.post_image.present? %>
						<%= image_tag @post.post_image.url, :size=> '400x300' %>
					<% end %>
					<% if @post.post_video.file.present? %>
						<%= video_tag @post.post_video_url.to_s,autoplay: true, loop: true, controls: true, width: 400 %>
					<% end %>
				</div>
				<div class="col-2 offset-2">
					<% if user_signed_in? %>
						<div class="favorite_btn_<%= @post.id %>">
 							<%= render 'favorites/like', post: @post, favorite: @favorite %>
						</div>
					<% end %>
				</div>
				<div class="col- 2 offset-1">
					<i class="far fa-comment"></i>
					<% if @post.comments.present? %>
						<%= @post.comments.count %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<% @comments.each do |comment| %>
						<div class="post-border">
							<div class="row">
								<div class="col-2">
									<%= image_tag comment.user.profile_image.url, :size => '50x50' %>
								</div>
								<div class="col-6">
									<%= comment.user.name %>
								</div>
								<div class="col-4">
									<% if current_user != @user.id %>
										<div class="follow-form<%= comment.user.id %>">
											<% if current_user.following?(comment.user) %>
											    <%= render 'relationships/unfollow', user: comment.user %>
											<% else %>
											    <%= render 'relationships/follow', user: comment.user %>
											<% end %>
										</div>
									<% end %>
								</div>
								<div class="col-10 offset-2">
									<div class="post-body">
										<%= comment.body %>
									</div>
								</div>
								<div class="col-11 offset-1">
									<% if comment.comment_image.present? %>
										<%= image_tag comment.comment_image.url, :size=> '400x300' %>
									<% end %>
									<% if comment.comment_video.file.present? %>
										<%= video_tag comment.comment_video_url.to_s,autoplay: true, loop: true, controls: true, width: 300 %>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-3">
		<%= render "shares/rside", user_ranking: @user_ranking %>
		</div>
	</div>
</div>